<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="icon/png" href="images/Picture6.png">
	<meta name="keywords" content="event, event management, Universum, Universum College">
	<meta name="description" content="This is a event management system where you can see all events occurring in Universum College">
	<title>Event Management</title>
	<link rel="stylesheet" type="text/css" href="../../static/styles/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/styles/responsive.css">
	<link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body onload="eventNames(), footer()" onresize="footer()">
	<div id="events">
		<div id="navbar">
			<p>Event Management</p>
			<div id="dropdown">
				<button>Profile</button>
				<div id="droplist">
					<a href="index.html"><button>Login</button></a>
					<a href="#contact"><button>Contact us</button></a>
				</div>
			</div>
		</div>
		<div id="eventTitle"><p>Events</p></div>
		<div id="eventLine"></div>
		<div id="filter">
			<div id="dropdown2">
				<button><i class="fas fa-filter"></i>Filter</button>
				<div id="droplist2">
					<button onclick="filter('All')">All</button>
					<button onclick="filter('Prishtine')">Prishtinë</button>
					<button onclick="filter('Ferizaj')">Ferizaj</button>
					<button onclick="filter('Gjakove')">Gjakovë</button>
				</div>
			</div>
			
		</div>
		<div id="eventsCards">
			<div>
				<p id="subtitle">this Week</p>
				<div id="line"></div>
			</div>
			<div id="thisWeek">
				<div id="card11" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name eeee eeee eee eeeeee eee</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Ferizaj</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					</div>
					<button id="close11" onclick="closeCard(this)">x</button>
				</div>
				<div id="card12" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Nameeee eeeeeeeeee</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Prishtine</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close12" onclick="closeCard(this)">x</button>
				</div>
				<div id="card13" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Gjakove</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close13" onclick="closeCard(this)">x</button>
				</div>
				<div id="card14" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Prishtine</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close14" onclick="closeCard(this)">x</button>
				</div>
				<div id="card15" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Ferizaj</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close15" onclick="closeCard(this)">x</button>
				</div>
			</div>
			<div>
				<p id="subtitle2">this Semester</p>
				<div id="line2"></div>
			</div>
			<div id="thisSemester">
				<div id="card21" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Prishtine</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close21" onclick="closeCard(this)">x</button>
				</div>
				<div id="card22" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Ferizaj</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close22" onclick="closeCard(this)">x</button>
				</div>
				<div id="card23" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Gjakove</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close23" onclick="closeCard(this)">x</button>
				</div>
				<div id="card24" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Prishtine</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close24" onclick="closeCard(this)">x</button>
				</div>
				<div id="card25" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Gjakove</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close25" onclick="closeCard(this)">x</button>
				</div>
				<div id="card26" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Ferizaj</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close26" onclick="closeCard(this)">x</button>
				</div>
				<div id="card27" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Prishtine</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close27" onclick="closeCard(this)">x</button>
				</div>
				<div id="card28" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Gjakove</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close28" onclick="closeCard(this)">x</button>
				</div>
				<div id="card29" onclick="openCard(this)">
					<div>
						<img src="../../static/images/image.png" alt="event">
						<h1>Event Name</h1>
					</div>
					<div>
						<p>Lecturer:</p> <p>Name Surname</p>
						<p>Campus:</p> <p>Ferizaj</p>
						<p>Date:</p> <p>dd/mm/yyyy</p>
						<p>Time:</p> <p>hh:mm:ss</p>
						<p>Room:</p> <p>000</p>
						<p>Description:</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<button id="close29" onclick="closeCard(this)">x</button>
				</div>
			</div>
		</div>
		<div id="footer">
			<div id="contact"><p>Contact Us</p></div>
			<div id="campus">
				<div>
					<p>Ferizaj</p>
					<p><i class="fas fa-map-marker-alt"></i>Rrethi QMI, 14000 Lipjan, Kosovo</p>
					<p><i class="fas fa-phone"></i><a href="tel:+383 44 725 675x">+383 44 725 675</a></p>
					<p><i class="fas fa-envelope"></i><a href="mailto:administratafr@universum-ks.org">administratafr@universum-ks.org</a></p>
				</div>
				<div>
					<p>Prishtinë</p>
					<p><i class="fas fa-map-marker-alt"></i>Rr. Fan Noli, 70000 Ferizaj, Kosovo</p>
					<p><i class="fas fa-phone"></i><a href="tel:+383 44 144 062x">+383 44 144 062</a></p>
					<p><i class="fas fa-envelope"></i><a href="mailto:administratapr@universum-ks.org">administratapr@universum-ks.org</a></p>
				</div>
				<div>
					<p>Gjakovë</p>
					<p><i class="fas fa-map-marker-alt"></i>Rr. UÇK, 50000 Gjakova, Kosovo</p>
					<p><i class="fas fa-phone"></i><a href="tel:+383 44 750 858x">+383 44 750 858</a></p>
					<p><i class="fas fa-envelope"></i><a href="mailto:administratagjk@universum-ks.org">administratagjk@universum-ks.org</a></p>
				</div>
			</div>
			<div id="copyright"><p>Copyright &copy; 2021, Universum College</p></div>
		</div>
	</div>
	<div id="divBg"></div>
	<script src="../../static/js/script.js"></script>
</body>
</html>