<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="icon/png" href="../static/images/background.png" th:href="@{/images/background.png}">
    <meta name="keywords" content="event, event management, Universum, Universum College">
    <meta name="description"
          content="This is a event management system where you can see all events occurring in Universum College">
    <title>Event Management</title>
    <link rel="stylesheet" type="text/css" href="../static/responsive.css" th:href="@{/styles/responsive.css}">
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/styles/style.css}">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body onload="eventNames(), footer(), pictures()" onresize="footer()" onkeydown="escFunc()" ondblclick="toggle()">
<div id="events" sec:authorize="isAuthenticated()">
    <div id="navbar">
        <p>Event Management</p>
        <div id="adminNav">
            <a th:href="@{/lecturer}">
                <button sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">Lecturers</button>
            </a>
            <a th:href="@{/users}">
                <button sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">Users</button>
            </a>
            <a th:href="@{/}">
                <button style="color:#f22045;background:white;">Events</button>
            </a>
            <div id="dropdown">
                <button th:href="profile">Profile</button>
                <div id="droplist">
                    <a th:href="@{/profile}">
                        <button>Settings</button>
                    </a>
                    <a onclick="document.forms['logoutForm'].submit()">
                        <button>Log out</button>
                    </a>
                    <form id="logoutForm" method="POST" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="eventTitle"><p>Events</p></div>
    <div id="eventLine"></div>
    <div id="filter">
        <button id="addEventBtn" onclick="addEvent()" sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">Add Event
        </button>
        <div id="dropdown2">
            <button><i class="fas fa-filter"></i>Filter</button>
            <div id="droplist2">
                <button onclick="filter('All')">All</button>
                <button onclick="filter('Prishtine')">Prishtinë</button>
                <button onclick="filter('Ferizaj')">Ferizaj</button>
                <button onclick="filter('Gjakove')">Gjakovë</button>
            </div>
        </div>

    </div>
    <div id="eventsCards">
        <div>
            <p id="subtitle">This Week</p>
            <div id="line"></div>
        </div>
        <div id="thisWeek">
            <div id="card11" onclick="openCard(this)" th:each="event : ${listEvent}">
                <div>
                    <img src="../static/images/image.png" th:src="@{/images/image.png}" alt="event">
                    <h1 th:text="${event.name}">Event Name eeee eeee eee eeeeee eee</h1>
                </div>
                <div>
                    <p>Lecturer:</p>
                    <p th:text="${event.lectur}">Rrezart Prebreza</p>
                    <p>Campus:</p>
                    <p th:text="${event.location}">Ferizaj</p>
                    <p>Date:</p>
                    <p th:text="${event.date}">dd/mm/yyyy</p>
                    <p>Time:</p>
                    <p th:text="${event.time}">hh:mm:ss</p>
                    <p>Room:</p>
                    <p th:text="${event.room}">000</p>
                    <p>Description:</p>
                    <p th:text="${event.description}">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
                <div id="adminBtn11" sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                    <button onclick="editEvent(this)" th:href="@{/getIdEvent/{id}(id=${event.id})}"><i
                            class="fas fa-edit"></i></button>
                    <button onclick="deleteEvent(this)" sec:authorize="hasAuthority('ADMIN')"
                            th:action="@{/deleteEvent/{id}(id=${event.id})}"><i class="fas fa-trash-alt"></i></button>
                </div>
                <button id="close11" onclick="closeCard(this)">x</button>
            </div>
        </div>
        <div>
            <p id="subtitle2">This Semester</p>
            <div id="line2"></div>
        </div>
        <div id="thisSemester">
            <div id="card21" onclick="openCard(this)" th:each="event : ${listEvent}">
                <div>
                    <img src="../static/images/image.png" th:src="@{/images/image.png}" alt="event">


                    <h1 th:text="${event.name}">Event Name eeee eeee eee eeeeee eee</h1>

                </div>
                <div>
                    <p>Lecturer:</p>
                    <p th:text="${event.lectur}">Rrezart Prebreza</p>
                    <p>Campus:</p>
                    <p th:text="${event.location}">Ferizaj</p>
                    <p>Date:</p>
                    <p th:text="${event.date}">dd/mm/yyyy</p>
                    <p>Time:</p>
                    <p th:text="${event.time}">hh:mm:ss</p>
                    <p>Room:</p>
                    <p th:text="${event.room}">000</p>
                    <p>Description:</p>
                    <p th:text="${event.description}">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
                <button id="close21" onclick="closeCard(this)">x</button>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="contact"><p>Contact Us</p></div>
        <div id="campus">
            <div>
                <p>Ferizaj</p>
                <p><i class="fas fa-map-marker-alt"></i>Rrethi QMI, 14000 Lipjan, Kosovo</p>
                <p><i class="fas fa-phone"></i><a href="tel:+383 44 725 675x">+383 44 725 675</a></p>
                <p><i class="fas fa-envelope"></i><a href="mailto:administratafr@universum-ks.org">administratafr@universum-ks.org</a>
                </p>
            </div>
            <div>
                <p>Prishtinë</p>
                <p><i class="fas fa-map-marker-alt"></i>Rr. Fan Noli, 70000 Ferizaj, Kosovo</p>
                <p><i class="fas fa-phone"></i><a href="tel:+383 44 144 062x">+383 44 144 062</a></p>
                <p><i class="fas fa-envelope"></i><a href="mailto:administratapr@universum-ks.org">administratapr@universum-ks.org</a>
                </p>
            </div>
            <div>
                <p>Gjakovë</p>
                <p><i class="fas fa-map-marker-alt"></i>Rr. UÇK, 50000 Gjakova, Kosovo</p>
                <p><i class="fas fa-phone"></i><a href="tel:+383 44 750 858x">+383 44 750 858</a></p>
                <p><i class="fas fa-envelope"></i><a href="mailto:administratagjk@universum-ks.org">administratagjk@universum-ks.org</a>
                </p>
            </div>
        </div>
        <div id="copyright"><p>Copyright &copy; 2021, Universum College</p></div>
    </div>
</div>
<div id="divBg"></div>
<div id="addEvent">
    <button id="exitAdd" onclick="exitAdd(this)">x</button>
    <form th:action="@{/saveEvent}" method="post">
        <label>Event Name:</label>
        <input type="text" name="name" placeholder="Event Name" required>
        <label>Lecturer:</label>
        <input type="text" name="lectur" placeholder="Event Lecturer" required>
        <label>Campus:</label>
        <input type="text" name="location" placeholder="Choose Campus" required>
        <label>Date:</label>
        <input type="date" name="date" required>
        <label>Time:</label>
        <input type="time" name="time" required>
        <label>Room:</label>
        <input type="text" name="room" placeholder="Choose Room" required>
        <label>Description:</label>
        <textarea name="description" placeholder="Description" rows="4" required></textarea>

        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>
<div id="editEvent">
    <button id="exitEdit" onclick="exitEdit(this)">x</button>
    <form th:action="@{/updateEvent}" method="put">
        <label>Event Name:</label>
        <input type="text" id="NameEdit" name="name" placeholder="Event Name" required>
        <label>Lecturer:</label>
        <input type="text" name="LecturerEdit" placeholder="Name Surname">
        <label>Campus:</label>
        <input type="text" name="CampusEdit" placeholder="Choose Campus" required>
        <label>Date:</label>
        <input type="date" name="DateEdit" required>
        <label>Time:</label>
        <input type="time" name="TimeEdit" required>
        <label>Room:</label>
        <input type="text" name="RoomEdit" placeholder="Choose Room" required>
        <label>Description:</label>
        <textarea name="description" placeholder="Description" rows="3" required></textarea>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>
<div id="deleteEvent">
    <p>Do you really want to delete this event?</p>
    <button onclick="exitDelete(this)" th:action="@{/deleteEvent/{id}}">Yes</button>
    <button onclick="exitDelete(this)" th:action="@{redirect:/}">No</button>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>